
.image-container{
    background-image: url('./login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    color:white;
    height:95vh;
    width:100%;
}
.text-container{
    width:600px;
    margin-top:70px;
}
.form-text{
    margin-top:30px;
}
.text-color{
    color:gray;
}
.password{
    text-align:right;
}
