@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#271a43;
  font-family: 'montserrat'
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
